 <!-- Javascripts -->
 <script src="{{ url_for('adminbp.static', filename='plugins/jquery/jquery-3.1.0.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/bootstrap/js/bootstrap.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/jquery-slimscroll/jquery.slimscroll.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/waves/waves.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/uniform/js/jquery.uniform.standalone.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/switchery/switchery.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/d3/d3.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/nvd3/nv.d3.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/flot/jquery.flot.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/flot/jquery.flot.time.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/flot/jquery.flot.symbol.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/flot/jquery.flot.resize.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/flot/jquery.flot.tooltip.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='plugins/flot/jquery.flot.pie.min.js' ) }}"></script>

 <script src="{{ url_for('adminbp.static', filename='js/metrotheme.min.js' ) }}"></script>
 <script src="{{ url_for('adminbp.static', filename='js/pages/dashboard.js') }}"></script>