<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">



<link href="{{ url_for('adminbp.static', filename='plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('adminbp.static', filename='css/typeaheadjs.css') }}" rel="stylesheet"> -->



<link href="{{ url_for('adminbp.static', filename='plugins/font-awesome/css/font-awesome.min.css') }} " rel="stylesheet">
<link href="{{ url_for('adminbp.static', filename='plugins/icomoon/style.css') }}" rel="stylesheet">
<link href="{{ url_for('adminbp.static', filename='plugins/waves/waves.min.css') }}" rel="stylesheet">
<link href="{{ url_for('adminbp.static', filename='plugins/uniform/css/default.css') }} " rel="stylesheet">
<link href="{{ url_for('adminbp.static', filename='plugins/switchery/switchery.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('adminbp.static', filename='plugins/nvd3/nv.d3.min.css') }}" rel="stylesheet">  


<link href="{{ url_for('adminbp.static', filename='css/metrotheme.min.css') }}" rel="stylesheet">

<script src="{{ url_for('adminbp.static', filename='plugins/jquery/jquery-3.1.0.min.js' ) }}"></script>
<script src="{{ url_for('adminbp.static', filename='js/bootstrap-typeahead.js' ) }}"></script>