// Variable overrides
$body-bg:  #0e1219 ;
$body-color:#f9fafc;
$gray-base:#222B45;

$theme-colors: (
  "primary": #D20053,
  "secondary":  #0e74f9,
  "success":    #CDF06E,
  "info":       #6DB8FD,
  "warning":    #FFD16A,
  "danger":      #7a0d39,
  "light":      #e9e9e9,
  "dark":       #1A2138
);
