
@font-face {
    font-family:"Flama-Bold";
    src:url("Flama Bold.woff2") format("woff2"),url("Flama Bold.woff") format("woff"),url("Flama Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        