<!-- Page Sidebar -->
<div class="page-sidebar">
        <a class="logo-box" href="{{ url_for('adminbp.admindashboard') }}"><span>QuickBoosters</span><i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
            <i class="icon-close" id="sidebar-toggle-button-close"></i></a>
        <div class="page-sidebar-inner">
            <div class="page-sidebar-menu">
                <ul class="accordion-menu">
                    <li class="active-page">
                        <a href="{{ url_for('adminbp.admindashboard') }}">
                            <i class="menu-icon icon-home4"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon icon-flash_on"></i><span>UI Kits</span><i class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="ui-alerts.html">Alerts</a></li>
                            <li><a href="{{ url_for('adminbp.ui_buttons') }}">Buttons</a></li>
                            <li><a href="ui-icons.html">Icons</a></li>
                            <li><a href="ui-typography.html">Typography</a></li>
                            <li><a href="ui-notifications.html">Notifications</a></li>
                            <li><a href="{{ url_for('adminbp.ui_modals') }}">Modals</a></li>
                            <li><a href="ui-progress.html">Progress Bars</a></li>
                            <li><a href="{{ url_for('adminbp.ui_tabs_accordions') }}">Tabs &amp; Accordions</a></li>
                            <li><a href="ui-tree-view.html">Tree View</a></li>
                            <li><a href="{{ url_for('adminbp.ui_nestable') }}">Nestable</a></li>
                        </ul>
                    </li>
                    <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-flash_on"></i><span>Users</span><i class="accordion-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="{{url_for('adminbp.user_lookup') }}">Lookup</a></li>
                                <li><a href="{{ url_for('adminbp.ui_buttons') }}">Buttons</a></li>
                                <li><a href="{{ url_for('adminbp.create_user') }}">Create User</a></li>
                                <li><a href="ui-icons.html">Stats</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-flash_on"></i><span>Orders</span><i class="accordion-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="ui-alerts.html">Lookup</a></li>
                                <li><a href="ui-icons.html">Stats</a></li>
                            </ul>
                        </li>

                        <li>
                                <a href="javascript:void(0)">
                                    <i class="menu-icon icon-flash_on"></i><span>Boosters</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="{{url_for('adminbp.booster_search') }}">Lookup</a></li>
                                    <li><a href="ui-icons.html">Stats</a></li>
                                    <li><a href="ui-icons.html">Chat</a></li>

                                </ul>
                            </li>

                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon icon-layers"></i><span>Layouts</span><i class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="{{ url_for('adminbp.layout_blank' ) }}">Blank Page</a></li>
                            <li><a href="{{ url_for('adminbp.layout_boxed') }}">Boxed Layout</a></li>
                            <li><a href="{{ url_for('adminbp.layout_fixed_header' ) }}">Fixed Header</a></li>
                            <li><a href="layout-fixed-sidebar.html">Fixed Sidebar</a></li>
                            <li><a href="layout-fixed-sidebar-header.html">Fixed Sidebar &amp; Header</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon icon-code"></i><span>Forms</span><i class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="{{ url_for('adminbp.form_elements') }}">Elements</a></li>
                            
                            <li><a href="form-file-upload.html">File Upload</a></li>
                            <li><a href="form-image-crop.html">Image Crop</a></li>
                            <li><a href="form-image-zoom.html">Image Zoom</a></li>
                            <li><a href="{{ url_for('adminbp.form_x_editable' ) }}">X-editable</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon icon-format_list_bulleted"></i><span>Tables</span><i class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="{{ url_for('adminbp.table_static') }}">Static</a></li>
                            <li><a href="{{ url_for('adminbp.table_responsive') }}">Responsive</a></li>
                            <li><a href="{{ url_for('adminbp.table_data' ) }}">Data Tables</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('adminbp.charts') }}">
                            <i class="menu-icon icon-show_chart"></i><span>Charts</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon icon-star"></i><span>Extra</span><i class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="invoice.html">Invoice</a></li>
                            <li><a href="{{ url_for('adminbp.error_404') }}">404 Page</a></li>
                            <li><a href="{{ url_for('adminbp.error_500') }}">500 Page</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="{{ url_for('adminbp.login') }}">Login</a></li>
                            <li><a href="{{ url_for('adminbp.register_user') }}">Register</a></li>
                            <li><a href="{{ url_for('adminbp.lockscreen') }}">Lockscreen</a></li>
                            <li><a href="{{ url_for('adminbp.gallery') }}">Gallery</a></li>
                            <li><a href="{{ url_for('adminbp.pricing_tables') }}">Pricing Tables</a></li>
                        </ul>
                    </li>
                    <li class="menu-divider"></li>
                    <li>
                        <a href="../../../documentation/index.html">
                            <i class="menu-icon icon-help_outline"></i><span>Documentation</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="menu-icon icon-public"></i><span>Changelog</span><span class="label label-danger">1.0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /Page Sidebar -->