
<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>{% block title %}{% endblock %}QuickBoosters</title>

        {%block styles %}
        {% include 'includes/admin/styles.html'  %}
        {% endblock %}

    {% endblock %}
        </head>
<body>
        
        <!-- Page Container -->
        <div class="page-container">

        {% include 'includes/admin/admin_sidebar.html'  %}
        {% include 'includes/admin/admin_top_nav.html' %}
        {% block content %}{% endblock %}
        </div><!-- /Page Container -->
        
        {% include 'includes/admin/bot_js.html'  %}
    </body>
</html>