<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>Metro - Responsive Admin Dashboard Template</title>

        {% include 'includes/admin/styles.html'  %}
    </head>
    <body>
        
        <!-- Page Container -->
        <div class="page-container login-page">
            
            <!-- Page Content -->
            <div class="page-content">
            
                <!-- Page Inner -->
                <div class="page-inner">
                <div id="main-wrapper"><div class="row">
                        <div class="col-md-3 col-login-box-alt">
                            <div class="panel panel-white login-box">
                                <div class="panel-body">
                                    <a href="index.html" class="logo-name">metro</a>
                                    <p class="m-t-md">Please login into your account</p>
                                    <form class="m-t-md" action="index.html">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email" required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="password form-control" placeholder="Password" required="">
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block">Login</button>
                                        <a href="register.html" class="btn btn-default btn-block metro-reg-button">Create an account</a>
                                        <a href="#" class="display-block text-muted">Forgot Password?</a>
                                    </form>
                                    <p class="text-center m-t-xs text-sm login-footer">2018 &copy; stacks</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Main Wrapper -->
                </div><!-- /Page Inner -->
            </div><!-- /Page Content -->
        </div><!-- /Page Container -->
        
        
        <!-- Javascripts -->
        <script src="../../assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../../assets/plugins/waves/waves.min.js"></script>
        <script src="../../assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
        <script src="../../assets/js/metrotheme.min.js"></script>
    </body>
</html>