{% extends "/admin/admin_base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}
<div class="page-content">
            
    <!-- Page Inner -->
    <div class="page-inner no-page-title">
        
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">User Lookup</h4>
                        </div>
                        <div class="panel-body dashboard-panel">
                            <div class="form-group">
                                <label for="input-rounded" class="col-sm-2 control-label">User:</label>
                                <div class="col-sm-10">
                                    <input type="text" onkeyup="liveSearch(this.value)" class="form-control input-rounded" id="input-rounded">
                                </div>
                            </div>
                            <div> <button type="button" class="btn btn-info btn-rounded">Search</button> </div>

                            <div class="form-group">
                                    <label for="input-rounded" class="col-sm-2 control-label">User:</label>

                                    <div id="the-basics">
                                        <input type="text" class="typeahead" placeholder="User">
                                    </div>
                                    <div> <button type="button" class="btn btn-info btn-rounded">Search</button> </div>
                                </div>


                            <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="mySmallModalLabel">Users Found!</h4>
                                        </div>
                                        <div id="modal-body" class="modal-body">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                    </div>
                        </div>
                    </div>
                </div>

        </div><!-- Main Wrapper -->

    </div><!-- /Page Inner -->
    
</div><!-- /Page Content -->

<script>

    $('#the-basics .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
    },
    {
        name: 'states',
        source: liveSearch(value)
    });

    function liveSearch(value){
        value = value.trim(); // remove any spaces around the text

        if(value != ""){ // don't make requests with an empty string
            $.ajax({
                url: "/admin/user-search",
                data: {searchText: value},
                dataType: "json",
                success: function(data){
                    var res = "";

                    console.log(data.results);
                    // create the html with results
                    for(i in data.results){
                        res += "<a href=\"#\" >" + data.results[i] + "</a>";
                    }
                    $("#modal-body").html(res);

                    if(data.modal === "True"){
                        $('#myModal').modal('show')
                    }
                }
            });

            
        }
        else{
            $("#results").html(""); // set the results empty in case of empty string
        }
        
    }
</script>

{% endblock %}