<!-- Page Sidebar -->
<div class="page-sidebar">
        <a class="logo-box" href="{{ url_for('adminbp.admindashboard') }}"><span>QuickBoosters</span><i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
            <i class="icon-close" id="sidebar-toggle-button-close"></i></a>
        <div class="page-sidebar-inner">
            <div class="page-sidebar-menu">
                <ul class="accordion-menu">
                    <li class="active-page">
                        <a href="{{ url_for('boosterbp.booster_dashboard') }}">
                            <i class="menu-icon icon-home4"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon icon-flash_on"></i><span>Actions</span><i class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="{{ url_for('boosterbp.booster_get_order') }}">Find Order</a></li>
                            <li><a href="{{ url_for('boosterbp.currentorders') }}">Current Orders</a></li>
                            <li><a href="ui-icons.html">Stats</a></li>
                        </ul>
                    </li>
                    <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-flash_on"></i><span>Settings</span><i class="accordion-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="{{url_for('boosterbp.editprofile') }}">Update Info</a></li>
                            </ul>
                        </li>

                    <li class="menu-divider"></li>
                    <li>
                        <a href="index.html">
                            <i class="menu-icon icon-public"></i><span>Changelog</span><span class="label label-danger">1.0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /Page Sidebar -->