<!DOCTYPE html>
<html>
<head>
 <title>QuickBoosters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/phone.css">
 
</head>
<body>
    
<!-- Side navigation -->
<div class="sidenav-sticky">
<img src="../static/img/logo1.png" alt="Logo">
<a href="{{ url_for('userbp.userdashboard') }}"><i class="fa fa-fw fa-home"></i>Dashboard</a>
<a href="#services"><i class="fa fa-fw fa-wrench"></i> Settings</a>
<a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
<a href="#Orders"><i class="fa fa-fw fa-user"></i> Purchase</a>
</div>

<!-- Page content -->
<div class="main-sticky">
<!-- Sidenav code -->
    <div id="mySidenav" class="sidenav upper">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times"></i></a>
     <div class="logohide"><img src="../static/img/logo1.png" alt="Logo"></div>    
      <a href="#">page 1</a>      
                 <a href="#">page 2</a>
                 <a href="#">page 3</a>
                 <a class="btn-client" href="#"><i class="fas fa-lock"></i>client login</a>
    </div>
<!-- Sidenav code end -->
<div class="container">
          <div class="logo none">
           <img src="../static/img/logo1.png" alt="Logo">
        </div>
<!-- Sidenav code --><div class="hide">
                 <span onclick="openNav()">
                  <i class="fas fa-bars"></i>
                 </span>
             </div> <!-- Sidenav code end -->

        <nav class="navbar ml-auto">
             <ul class="menu upper">
                 <li><a href="grid.html"><i class="fas fa-sign-out-alt fnt"></i></a></li>
                
              </ul>
        </nav>
    </div>
</div>

<div class="ribbon">
<p>Order Overview - ELO-Boost.net - League of Legends Boosting & Coaching service!</p>
</div>

<div class="breadcrumb brdr">
<i class="fa-fw fa fa-info"></i> <strong>Welcome back {{name}}</strong><br><br>
Below we show some functionalities of our advanced systems. After purchase you get an access to Members Area, where you can enter your LoL Account Credentials, view current stats like Top 3 Champions or Match History. You can also Pause your order, if you want to play some Normals, Ranked Teams or Custom Games.
</div>

<div class="grid-start">

<section class="match">
<div class="head">
<i class="fa fa-user"></i>
<span>Solo Boosting Orders</span>
</div>

<table>
<thead align="center">
<tr>
<th>Date</th>
<th>Game</th>
<th>Progress</th>
<th>Status</th>
<th>Actions</th>

</tr>
</thead>
<tbody>

    {% for o in solo_orders %}
    <tr>
      <td>{{o.date_ordered}}</td>
      <td>{{o.game}}</td>
      <td>Some Javascript Later</td>
      <td>{{o.status}}</td>
      <td> <a href="#"><Button class="btn-details">DETAILS</Button> </a> </td>
    </tr>
    {% endfor %}

</tbody>
</table>

</section>

<section class="duo-match">
  <div class="head">
  <i class="fa fa-user"></i>
  <span>Duo Boosting Orders</span>
  </div>
  
  <table>
  <thead align="center">
  <tr>
  <th>Date</th>
  <th>Game</th>
  <th>Progress</th>
  <th>Status</th>
  <th>Actions</th>
  
  </tr>
  </thead>
  <tbody>
      {% for o in duo_orders %}
      <tr>
        <td>{{o.date_ordered}}</td>
        <td>{{o.game}}</td>
        <td>Some Javascript Later</td>
        <td>{{o.status}}</td>
        <td>Some Button Here</td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
  
  </section>

</div>

<footer class="black">
<div class="foot-contain">
<div class="link-one">
<h4>Solo Boost</h4>
<ul>
          <li><a href="">Solo Division</a></li>
          <li><a href="">Solo Placements</a></li>
          <li><a href="">Solo Net Wins</a></li>
        </ul>
</div>
<div class="link-two">
 <h4>Duo Boost</h4>
<ul>
          <li><a href="">Duo Division</a></li>
          <li><a href="">Duo Placements</a></li>
          <li><a href="">Duo Net Wins</a></li>
          <li><a href="">Demo</a></li>
        </ul>
</div>
<div class="link-three">
 <h4>Contact</h4>
<ul>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Live Chat</a></li>
    <li><a href="">Members Area</a></li>
    <li><a href="">Knowledgebase</a></li>
</ul>
</div>
<div class="link-four">
 <h4>Connect with Us</h4>
<ul>
            <li class="hvr-bob"><a href="https://facebook.com"><img src="../static/img/fb.png" alt=facebook">
</a></li>
    <li class="hvr-bob"><a href="https://twitter.com"><img src="../static/img/tw.png" alt="twitter">
</a></li>
   <li class="hvr-bob"><a href="https://instagram.com"><img src="../static/img/insta.png" alt="instagram">
</a></li>
</ul>
<h5>©2018 Company Name. All Right Reserved</h5>   
</div>

</div>

</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='toggler.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='tabs.js') }}"></script>

<script src="../js/chart.js"></script>

<script type="text/javascript">
var socket = io.connect('http://127.0.0.1:5000');
socket.on('connect', function() {
socket.send('User Connected To Chat');  

});

var form = $('#chat-submit').click(function(){
console.log("Clicked");

let user_msg = $('#chat-text').val()

socket.emit('client_msg', {
   user_name : "{{name}}",
   message : user_msg
});

$('#chat-text').val('').focus()
});

socket.on('display_to_chat', function(msg){
$( 'div.message' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
});

</script>


</body>
</html>


