
<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>{% block title %}{% endblock %}QuickBoosters Boosters Dashboard</title>

        {%block styles %}
        {% include 'includes/boosters/styles.html'  %}
        {% endblock %}

        {% include 'includes/boosters/bot_js.html'  %}
        {% include 'includes/boosters/inc_boosterChat.html' %}

    {% endblock %}
    </head>
<body>
        
        <!-- Page Container -->
        <div class="page-container">

        {% include 'includes/boosters/booster_sidebar.html'  %}
        {% include 'includes/boosters/booster_top_nav.html' %}
        {% block content %}{% endblock %}
        </div><!-- /Page Container -->
        
    </body>
</html>